<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <div class="heading">
        <div class="row">
          <h3>Algumas Perguntas</h3>
        </div>
      </div>

      <div id="asks">
        <% perguntas.forEach(pergunta => { %>
        <div class="ask">
          <div class="askHeader">
            <div><h3><%= pergunta.title %></h3></div>
            <div>
              <a href="/ask/<%= pergunta.id %>" class="button">Ver Respostas</a>
            </div>
          </div>

          <div class="askBody">
            <p><%= pergunta.description %></p>
          </div>
        </div>

        <% })%>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
